.referencia_de_obras {
  margin-top: 90px;

  table {
    @media (width <=767px) {
      width: 120vw;
    }

    td,
    th {
      padding: 0.5rem 0.75rem;
      border: 2px solid var(--color-black);
      width: 45%;
      
      @media (width >=992px) {
        padding: 0.75rem;
      }

      &:first-child {
        font-size: 0.9rem;
        
        @media (width >= 992px) {
          width: 33%;
          font-size: 1rem;
        }
      }
    }
  }

  tr {
    &:nth-child(odd) {
      background-color: #dedede;
      font-weight: 700;
    }
  }

  .obras-images {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-direction: column;

    @media (min-width: 1200px) {
      flex-direction: row;
    }

    img {
      height: auto;
      box-sizing: border-box;
      object-fit: cover;
      max-height: 330px;

      @media (width>=1200px) {
        max-width: 49%;

      }
    }
  }
}